html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #070815; /* your dark background */
}


body > div:first-child {
  width: 100%;
  height: 100%;
}
#__next,
.app-root,
:root {
  height: 100%;
}
