html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #070815;
}

/* LOCK BEFORE INTRO */


/* RELEASE AFTER INTRO */
html.ready body {
  opacity: 1;
  background: #070815;
  transition: opacity 0.45s ease;
}

* {
  min-width: 0;
}

