name: Deploy Next.js SSR to Azure App Service

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_5F5012D9240D47BDA66F20DFAE6905F3 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_29DE0087621B43E6BBB679B14A4885BC }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_BD465C7BE7344191A99AE66CE864EC93 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'CorfuDelicatessen-frontend'
          package: .
